/Full Project/src/cpp scripts/out/
/Full Project/src/cpp scripts/cmake-build-debug/
/Full Project/src/cpp scripts/.vs/
/Full Project/src/cpp scripts/CMakeSettings.json/
/Full Project/src/cpp scripts/teapot.obj/
/Full Project/src/headers/test.h/
/Full Project/src/cpp scripts/.idea/
