# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Desktop\Music Projects\School\Jaar 2\RayTracedIR\RayTracedIR\Nino\Delay reverb (voice only)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
